body{
  background-image: url(https://security.ele.me/images/bg.jpg);
  color:white;
  font-family: "微软雅黑",arial;
}
.clearfix:after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
a{
  color: #fff;
  text-decoration: none;
}