body {
  background-color: #f8f4f4;
}
@font-face {
  font-family: 'iconfont';
  /* project id 498038 */
  src: url('//at.alicdn.com/t/font_498038_7f3tumxbs05dn29.eot');
  src: url('//at.alicdn.com/t/font_498038_7f3tumxbs05dn29.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_498038_7f3tumxbs05dn29.woff') format('woff'), url('//at.alicdn.com/t/font_498038_7f3tumxbs05dn29.ttf') format('truetype'), url('//at.alicdn.com/t/font_498038_7f3tumxbs05dn29.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.002rem;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-home-header .location {
  display: flex;
  align-items: center;
  height: .445rem;
  padding: 2.666667vw 3.733333vw 0;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  color: #fff;
}
.el-home-header .location p {
  width: 1.5rem;
  margin: 0 1.333333vw;
  font-size: .19rem;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-home-header .location .icon {
  font-size: .19rem;
}
.el-home-footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: 0.5rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -0.266667vw 0.533333vw rgba(0, 0, 0, 0.1);
}
.el-home-footer ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.el-home-footer a {
  color: #8e8e93;
  font-size: 0.13rem;
}
.el-home-footer a .icon {
  font-size: 0.16rem;
  line-height: 0;
}
.el-home-footer a p {
  margin-top: 0.05rem;
}
.el-home-footer .active {
  color: #0089dc;
}
