* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-home .search {
  position: sticky;
  top: 0;
  z-index: 999;
  background-image: linear-gradient(90deg, #0af, #0085ff);
}
.el-home .search .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 3.733333vw;
  margin: -0.133333vw 0;
  background-image: linear-gradient(90deg, #0af, #0085ff);
}
.el-home .search .link a {
  display: flex;
  width: 100%;
  height: 0.48rem;
  height: 9.6vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.266667vw;
  background: #fff;
  color: #999;
  font-size: 0.16rem;
}
.el-home .search .link a span {
  margin-left: 0.05rem;
}
.el-home .download {
  height: 1.05rem;
  background-image: linear-gradient(90deg, #0af, #0085ff);
}
.el-home .download img {
  width: 100%;
}
.el-home .nav-link {
  display: flex;
  background-color: #fff;
  width: 100%;
}
.el-home .nav-link .link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.el-home .nav-link .link a {
  display: flex;
  margin-top: 2.933333vw;
  flex-direction: column;
  text-align: center;
  width: 0.75rem;
  align-items: center;
}
.el-home .nav-link .link a img {
  width: 12vw;
  height: 12vw;
}
.el-home .nav-link .link a p {
  margin-top: 1.333333vw;
  color: #666;
  font-size: 0.13rem;
}
.el-home .nav-link .link .lint-btn {
  width: 100%;
  height: 0.14rem;
}
.el-home .advertise {
  margin-bottom: 2.133333vw;
  background-color: #fff;
  padding: 0 2.666667vw;
}
.el-home .advertise .content {
  display: flex;
  background: linear-gradient(0deg, #f4f4f4 5%, #fafafa 95%);
  margin-bottom: 0.8vw;
  justify-content: space-between;
  align-items: center;
}
.el-home .advertise .content .text {
  height: 29.333333vw;
  padding: 3.2vw 0 0 4vw;
}
.el-home .advertise .content .text p:nth-of-type(1) {
  font-size: 0.18rem;
  font-weight: 700;
  margin-bottom: 1.333333vw;
  color: #333;
}
.el-home .advertise .content .text p:nth-of-type(2) {
  font-size: 0.123rem;
  color: #777;
  margin-bottom: 2.4vw;
}
.el-home .advertise .content .text p:nth-of-type(3) {
  font-size: 0.16rem;
  color: #af8260;
  font-weight: 700;
}
.el-home .advertise .content img {
  top: 2.4vw;
  right: 3.733333vw;
  width: 37.6vw;
  height: 25.066667vw;
}
.el-home .el-home-header .location {
  display: flex;
  align-items: center;
  height: 0.445rem;
  padding: 2.666667vw 3.733333vw 0;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  color: #fff;
}
.el-home .el-home-header .location p {
  width: 1.5rem;
  margin: 0 1.333333vw;
  font-size: 0.19rem;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-home .el-home-header .location .icon {
  font-size: 0.19rem;
}
.el-home .el-home-main {
  background-color: #fff;
  overflow-y: scroll;
}
.el-home .el-home-main .title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.6vw;
  font-size: 0.2rem;
  color: #000;
}
.el-home .el-home-main .title::before {
  display: block;
  content: '';
  width: 5.333333vw;
  height: 0.266667vw;
  background-color: #999;
  margin-right: 3.466667vw;
}
.el-home .el-home-main .title::after {
  display: block;
  content: '';
  width: 5.333333vw;
  height: 0.266667vw;
  background-color: #999;
  margin-left: 3.466667vw;
}
.el-home .el-home-main .shop-list a {
  display: flex;
  flex-wrap: wrap;
}
.el-home .el-home-main .shop-list a .shop-list-content {
  padding: 0 2.666667vw;
  width: 100%;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up {
  display: flex;
  justify-content: space-between;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-img {
  position: relative;
  width: 17.333333vw;
  height: 17.333333vw;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-img img {
  width: 100%;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc {
  flex: 1;
  padding-left: 2.666667vw;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section {
  display: flex;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section h3 {
  display: flex;
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 700;
  font-size: 0.2rem;
  overflow: hidden;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section h3 i {
  position: relative;
  margin-right: 1.333333vw;
  padding: 0.266667vw 0.666667vw;
  color: transparent;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: 0.14rem;
  font-style: normal;
  line-height: normal;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section h3 i::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  content: attr(content);
  padding: 0.113733vw 0.2844vw;
  padding: 0.533333vw 1.333333vw;
  color: #6f3f15;
  font-weight: 700;
  font-size: 0.24rem;
  border-radius: 0.227467vw;
  border-radius: 1.066667vw;
  background-image: linear-gradient(-139deg, #fff100, #ffe339);
  white-space: nowrap;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section .rate {
  display: flex;
  align-items: center;
  font-size: 0.12rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section .rate .sale {
  margin-left: 0.15rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section .el-rate {
  height: 0.16rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section .el-rate span {
  font-size: 0.12rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section .el-rate .el-rate__icon {
  font-size: 0.12rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section:nth-of-type(1) {
  justify-content: space-between;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section:nth-of-type(1) ul li {
  position: relative;
  height: 3.466667vw;
  width: 3.466667vw;
  margin-left: 0.8vw;
  font-size: 0.12rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section:nth-of-type(1) ul li::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 0.233333rem;
  color: #999;
  content: attr(content);
  border-radius: 0.0568vw;
  border-radius: 0.266667vw;
  width: 1.479067vw;
  width: 6.933333vw;
  height: 1.479067vw;
  height: 6.933333vw;
  line-height: normal;
  border: 0.013333rem solid #ddd;
  border: 0.133333vw solid #ddd;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section:nth-of-type(3) {
  justify-content: space-between;
  font-size: 0.12rem;
  color: #999;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section:nth-of-type(3) div:nth-of-type(1) span:nth-of-type(2) {
  overflow: hidden;
  max-width: 26.666667vw;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-up .shop-desc section:nth-of-type(3) div span:nth-of-type(2)::before {
  margin: 0 0.8vw;
  color: #ddd;
  content: '|';
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down {
  display: flex;
  padding-left: 22.666667vw;
  flex-wrap: wrap;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section {
  display: flex;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(1) {
  margin: 2.666667vw 2.666667vw 0 0;
  color: #e8470b;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(1) span {
  margin-right: 1.333333vw;
  display: flex;
  font-size: 0.1rem;
  align-items: flex-start;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(1) span img {
  margin-top: 0.4vw;
  height: 2.666667vw;
  width: 2.666667vw;
  margin-right: 0.8vw;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) {
  font-size: 0.1rem;
  justify-content: space-between;
  width: 100%;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div:nth-of-type(1) {
  flex: 1;
  padding-right: 0.266667rem;
  overflow: hidden;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div div {
  display: flex;
  align-items: center;
  font-size: 0.14rem;
  line-height: 4.8vw;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div div span {
  font-size: 0.1rem;
  color: #999;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div div span:nth-of-type(1) {
  display: inline-block;
  position: relative;
  margin-right: 1.6vw;
  height: 3.733333vw;
  width: 3.733333vw;
  vertical-align: middle;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div div span:nth-of-type(1) span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 7.466667vw;
  width: 7.466667vw;
  font-size: 0.28rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.066667vw;
  transform: scale(0.5);
  transform-origin: 0 0;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div:nth-of-type(2) {
  color: #999;
  font-size: 0.1rem;
}
.el-home .el-home-main .shop-list a .shop-list-content .shop-list-down section:nth-of-type(2) div:nth-of-type(2) img {
  width: 1.733333vw;
  opacity: 0.9;
  margin-left: 1.066667vw;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  fill: currentColor;
  will-change: transform;
  vertical-align: middle;
}
.el-home-footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: 0.5rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -0.266667vw 0.533333vw rgba(0, 0, 0, 0.1);
  text-align: center;
}
.el-home-footer ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.el-home-footer a {
  color: #8e8e93;
  font-size: 0.13rem;
}
.el-home-footer a .icon {
  font-size: 0.16rem;
  line-height: 0;
}
.el-home-footer a p {
  margin-top: 0.05rem;
}
.el-home-footer .active {
  color: #0089dc;
}
.head-title {
  height: 11.733333vw;
}
.head-title a {
  color: white;
}
.head-title .content {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1.173333rem;
  height: 11.733333vw;
  color: #fff;
  font-size: 0.24rem;
}
.head-title .content h1 {
  position: absolute;
  top: 0;
  left: 50%;
  height: 11.733333vw;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 1em;
  line-height: 11.733333vw;
  transform: translateX(-50%);
}
.el-find {
  background-color: #f3efef;
}
.el-find .advert {
  margin-bottom: 0.02rem;
}
.el-find .advert img {
  width: 100%;
}
.el-find .adverts-box {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.08rem;
}
.el-find .adverts-box section p {
  line-height: 1.2;
  font-size: 0.16rem;
  margin-bottom: 1.6vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.el-find .adverts-box section p:nth-of-type(1) {
  color: #e88f28;
}
.el-find .adverts-box section p:nth-of-type(2) {
  font-size: 0.12rem;
}
.el-find .adverts-box section:nth-of-type(1) {
  width: fit-content;
  border-right: 1px solid #ededed;
  height: 42.666667vw;
  padding: 5.866667vw 2.933333vw 1.6vw 4.266667vw;
  border-bottom: 1px solid #ededed;
}
.el-find .adverts-box section:nth-of-type(1) a {
  height: 100%;
  align-items: flex-end;
}
.el-find .adverts-box section:nth-of-type(1) div {
  max-width: 30vw;
  align-self: flex-start;
}
.el-find .adverts-box section:nth-of-type(1) img {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20vw;
}
.el-find .adverts-box section:nth-of-type(2) {
  width: 50%;
}
.el-find .adverts-box section:nth-of-type(2) a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 21.333333vw;
  padding: 0 4vw;
  border-bottom: 1px solid #ededed;
}
.el-find .adverts-box section:nth-of-type(2) a img {
  width: 12vw;
}
.el-find .adverts-box section:nth-of-type(3) {
  display: flex;
  width: 100%;
}
.el-find .adverts-box section:nth-of-type(3) a {
  border-right: 1px solid #ededed;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21.333333vw;
  padding: 0 4vw;
}
.el-find .adverts-box section:nth-of-type(3) a img {
  width: 12vw;
}
.el-find .adverts-box section:nth-of-type(3) a:nth-of-type(1) {
  margin-left: -0.01rem;
}
.el-find .adverts-box section:nth-of-type(3) a:nth-of-type(2) {
  border-right: 0;
}
.el-find .main {
  padding-bottom: 0.5rem;
}
.el-find .main .bottom {
  width: 100%;
  height: 0.5rem;
}
.el-find .main .head-title {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.2vw;
}
.el-find .main .head-title .title {
  text-align: center;
  font-size: 0.24rem;
  font-weight: 700;
  color: #333;
}
.el-find .main .head-title span {
  display: inline-block;
  margin: 2.133333vw 0.933333vw 1.733333vw;
  border: 1px solid #333;
  width: 4vw;
  height: 0;
  position: relative;
}
.el-find .main .head-title span::after {
  position: absolute;
  top: -0.666667vw;
  content: '';
  background: #333;
  height: 1.333333vw;
  width: 1.333333vw;
  border-radius: 50%;
}
.el-find .main .head-title .icon {
  font-size: 0.24rem;
}
.el-find .main .head-title .left:after {
  right: -0.666667vw;
}
.el-find .main .head-title .right:after {
  left: -0.666667vw;
}
.el-find .main .present-box {
  background-color: #fff;
  display: flex;
  padding: 3.2vw 0 4vw 4vw;
  white-space: nowrap;
}
.el-find .main .present-box a {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 29.6vw;
  margin-right: 1.6vw;
}
.el-find .main .present-box a img {
  width: 33.2vw;
  height: 29.333333vw;
  margin-bottom: 1.533333vw;
}
.el-find .main .present-box a .discount {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.14rem;
  color: #fff;
  background: #413d3c;
  padding: 0.666667vw;
}
.el-find .main .present-box a .food-info {
  height: 6.4vw;
  line-height: 6.4vw;
}
.el-find .main .present-box a .food-info .food-name {
  font-size: 0.16rem;
  color: #333;
  margin-bottom: 1.333333vw;
}
.el-find .main .present-box a .food-info .price {
  font-size: 0.16rem;
  height: 4.8vw;
  line-height: 4.8vw;
  color: #ff5339;
  margin-right: 0.933333vw;
  max-width: 13.333333vw;
  display: inline-block;
  vertical-align: middle;
}
.el-find .main .present-box a .original-price {
  font-size: 0.12rem;
  color: #aaa;
  max-width: 10.666667vw;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.05rem;
}
.el-find .main .more {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  padding-bottom: 0.2rem;
}
.el-user {
  background-color: #f9f9f9;
}
.el-user .login {
  display: flex;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  padding: 6.666667vw 4vw;
  color: #fff;
  align-items: center;
}
.el-user .photo {
  display: flex;
  flex-shrink: 0;
  font-size: 0.5rem;
  line-height: 16vw;
  border-radius: 50%;
  background: #fff;
  vertical-align: middle;
  width: 16vw;
  height: 16vw;
  justify-content: center;
  align-items: center;
}
.el-user .info {
  overflow: hidden;
  margin-left: 4.8vw;
  flex-grow: 1;
}
.el-user .info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.el-user .info p:nth-of-type(1) {
  font-size: 0.23rem;
  margin-bottom: 2.133333vw;
  font-weight: 700;
}
.el-user .manage-action {
  display: table;
  width: 100%;
  height: 22.4vw;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.el-user .manage-action .box {
  display: table-cell;
  width: 33.3333%;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #ddd;
}
.el-user .manage-action .box p:nth-of-type(2) {
  margin-top: 1.333333vw;
  font-size: 0.16rem;
  line-height: 3.733333vw;
  font-weight: 500;
  color: #666;
  font-weight: 700;
}
.el-user .main .list {
  margin-top: 2.666667vw;
  border-top: 1px solid #ddd;
  font-size: 0.21rem;
  line-height: 4.533333vw;
  background: #fff;
}
.el-user .main .list .manage-list {
  border-bottom: 1px solid #ddd;
}
.el-user .main .list .manage-list .content {
  display: flex;
  color: #333;
  align-items: center;
  padding-left: 6.666667vw;
}
.el-user .main .list .manage-list .content aside {
  margin-left: -2.666667vw;
  margin-right: 2.666667vw;
}
.el-user .main .list .manage-list .content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.733333vw 2.666667vw 3.733333vw 0;
}
.el-user .main .list .manage-list .content div span {
  display: flex;
  align-items: center;
}
.el-user .main .list .manage-list .content div .icon {
  width: 2.666667vw;
  height: 2.666667vw;
  fill: #bbb;
}
.el-my-order {
  background-color: #f9f9f9;
}
.el-my-order .main {
  height: 100%;
}
.el-my-order .main .no-user {
  margin-top: 26.666667vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.el-my-order .main .no-user .bottom {
  width: 100%;
  height: 2rem;
}
.el-my-order .main .no-user img {
  display: block;
  width: 53.333333vw;
}
.el-my-order .main .no-user h3 {
  margin: 3.333333vw 0 2.666667vw;
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.24rem;
}
.el-my-order .main .no-user a {
  display: block;
}
.el-my-order .main .no-user a button {
  padding: 2.666667vw;
  min-width: 32vw;
  border: none;
  border-radius: 0.533333vw;
  background-color: #56d176;
  color: #fff;
  text-align: center;
  font-family: inherit;
}
.ui-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bottom {
  width: 100%;
  height: 1rem;
}
