.LinkList {
    display: flex;
}

.LinkList li {
    width: auto;
    font-size: 20px;
    color: #acb6c1;
    margin: 0px 30px;
}

.LinkList li a {
    display: block;
    color: #acb6c1;
}

.LinkActive {
    color: #fff !important;
}