
:root {
  --text-color: red;
  --red: #d33;
 }
  
.header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
  border-bottom: 1px solid #5f6d7c;
  z-index: 10001;
}
.logo{
  width: 250px;
  margin-left: 5.73%;
}
@media (max-width: 1690px){
  .logo {
      margin-left: 2%;
  }
}

@media (max-width: 1890px){
  .logo {
    margin-left: 3.73%;
  }
}

.logo img{
  width: 239px;
}

